* {
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
}

.widgets {
    height: 150px;
}

.main {
    display: flex;
    column-gap: 20px;
}